@pink: #b5226e;

body {
    height: 100vh;
    padding: 20px;
}

h1 {
    color: @pink;
}

.recipe-list-item {
    align-items: center;
    border: 1px solid gray;
    display: flex;
    height: 40px;
    padding: 0 12px;
}